* { box-sizing: border-box; }

body { 
    margin: 0;
    background-color: rgb(141, 141, 228);
    background-image: url();
    
 }


html {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
}
.all-container{
  padding-left: 12%;
  }
.card{
  box-shadow: 20px 20px;
}

/* Colors */
.checked{
  color: rgb(13, 9, 219);
}
:root {
    --allday: #1593FF; /* h6 color */
    --guided: tomato; /* h6 color */
    --private: purple; /* h6 color */
    --daytrip: #d3de32; /* h6 color */
}
/* --------------------------------------------------------*/
/* Card Layout */
.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 25rem;
  width: 20rem;
  margin: 3rem;
}

.card-img {
  height: 12rem;
  width: 20rem;
  object-fit: fill;
}

/* tittle style */
h2, h5, h6 {
  margin-left: 1rem;
}

h2 {
  font-weight: 600;
}

h5 {
  font-weight: 500;
  opacity: .9;
}
/* h2 style */
h2 {
  position: relative;
  top: -1em;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1.1px;
}

h5 {
  position: relative;
  top: -2.7em;
  font-size: 16px;
  font-weight: 500;
  opacity: .8;
}
/* h6 style */
h6 {
  position: relative;
  display: inline;
  top: -1em;
  font-size: 15px;
  border-radius: 0.25em;
  padding: .2rem;
  color: white;
  font-weight: 500;
}

.allday {
  border: 1px solid var(--allday) ;
  background-color: var(--allday) ;
}

.guided {
  border: 1px solid var(--guided);
  background-color: var(--guided);
}

.daytrip {
  border: 1px solid var(--daytrip);
  background-color: var(--daytrip);
}

.private {
  border: 1px solid var(--private);
  background-color: var(--private);
}

/* Icon Style */
.icon {
  position: relative;
  top: -2.5em;
  right: -1em;
  font-family: 'Raleway', sans-serif;
  vertical-align: middle;
}

.fa-clock, .fa-running, .fa-user-friends {
  padding: 0.3rem;
  font-size: 1rem;
}

span {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: .9rem;
  line-height: 1.2;
  opacity: .8;
}



/* Media Queries */
@media (min-width: 1499px) {
  /* For a screen > 1499px, this CSS will be read */
  .all-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: 20px;
    margin-left: 1rem;
  }
}
@media (min-width: 820px) and (max-width: 1499px) {
  /* For a screen > 820px, and < 1499 this CSS will be read */
  .all-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: 20px;
    margin: auto 2rem;
  }
}
@media (max-width: 820px) {
  /* For a screen < 820px, this CSS will be read */
  .all-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: 20px;
    margin: auto;
  }
}
